<div class="barra-fija">
  <div title="Clientes" routerLink="/listado-clientes">
    <i class="fas fa-briefcase"></i>
  </div>
  <div title="Presupuestos" routerLink="/listado-presupuestos">
    <i class="fas fa-money-bill-alt"></i>
  </div>
  <div title="Articulos" routerLink="/listado-articulos">
    <i class="fas fa-box-open"></i>
  </div>
</div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/inicio">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/ventas">Ventas</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Clientes</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Clientes</span>
  <button class="btn btn-primary" routerLink="/crear-cliente">
    <i class="fas fa-plus-circle"></i>
  </button>
</div>
<div class="col-md-12">
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" (click)="buscarPorNombre()"
      checked>
    <label class="custom-control-label" for="customRadioInline1">Búsqueda por nombre</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" (click)="buscarPorLocalidad()">
    <label class="custom-control-label" for="customRadioInline2">Búsqueda por localidad</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input" (click)="buscarPorLocalidadNombre()">
    <label class="custom-control-label" for="customRadioInline3">Búsqueda por nombre y localidad</label>
  </div>
</div>
<div class="col-md-12 buscador" *ngIf="verBuscadorNombre">
  <input type="search" class="form-control" placeholder="Introduzca un nombre" [formControl]="buscador">
</div>
<div class="col-md-12 buscador" *ngIf="verBuscadorLocalidad">
  <input type="search" class="form-control" placeholder="Introduzca localidad" [formControl]="buscadorLocalidad">
</div>
<div class="col-md-12 buscador" *ngIf="verBuscadorNombreLocalidad">
  <form [formGroup]="buscadorLocalidadNombre" (ngSubmit)="crearConsulta()">
    <div class="form-row">
      <div class="col">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
      </div>
      <div class="col">
          <input type="text" class="form-control" formControlName="localidad" placeholder="Localidad">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="col-md-12 resultados">
  <div *ngIf="buscando" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <p *ngFor="let cliente of clientes" routerLink="/editar-cliente/{{cliente._id}}">
    {{cliente.nombre}} | {{cliente.localidad}}
  </p>
  <span *ngIf="mensaje">No se encontraron coincidencias.</span>
</div>