.menu-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 500ms all;
}

.box span { 
    font-size: 80px;
}

.box p {
    color: white;
    font-size:  26px;
}


.verde { background-color: #218A72; }
.verde:hover { background-color: rgb(58, 179, 150); }
.verde span { color: rgb(20, 90, 74); }

.rojo {background-color: #8A0A09;}
.rojo:hover {background-color: rgb(175, 25, 25);}
.rojo span {color: rgb(107, 6, 6);}

.azul {background-color: #035E8A;}
.azul:hover{background-color: rgb(13, 128, 185);}
.azul span{color: rgb(0, 59, 88);}

.amarillo {background-color: goldenrod;}
.amarillo:hover{background-color: rgb(240, 185, 48);}
.amarillo span{color: rgb(185, 140, 25);}

.naranja {background-color: rgb(255, 73, 7);}
.naranja:hover{background-color: rgb(252, 98, 42);}
.naranja span{color: rgb(180, 48, 0);}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo span {
    font-size: 20px;
}

.formularios {
    padding: 20px 20px 40px;
}

.valido{
    color: green;
}

.no-valido{
    color: red;
}

.row {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.tabla-facturas th:nth-child(1), .tabla-facturas td:nth-child(1){
    width: 50%;
}

.tabla-facturas th:nth-child(2), .tabla-facturas td:nth-child(2){
    width: 20%;
}

.tabla-facturas th:nth-child(3), .tabla-facturas td:nth-child(3){
    text-align: right;
    width: 10%;
}

.tabla-facturas th:nth-child(4), .tabla-facturas td:nth-child(4){
    text-align: center;
    width: 10%;
}

.barra-fija {
    width: 100px;
    height: calc(100vh - 56px);
    background-color: lightslategray;
    position: fixed;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-fija div {
    color: rgb(226, 226, 226);
    font-size: 50px;
    transition: color 500ms ease-in-out;
}

.barra-fija div:hover {
    color: rgb(255, 255, 255);
    font-size: 50px;
    cursor: pointer;
}

.col-md-12{
    width: calc(100% - 100px);
    margin-left: 100px;
}

.breadcrumb, .autenticacion {
    margin-top: 80px;
}

.sesion {
    display: flex;
    align-items: center;
}

.sesion span {
    color: rgb(107, 107, 107);
    font-size: 20px;
    margin-right: 10px;
}

.cabecera {
    display: flex;
    width: 100%;
}

.cabecera .campo {
    margin: 0px 5px;
    height: 40px;
}

.cabecera .campo:nth-child(1){width: 30%}
.cabecera .campo:nth-child(2){width: 30%}
.cabecera .campo:nth-child(3){width: 30%}
.cabecera .campo:nth-child(4){width: 10%}

.cabecera .campo p {
    font-weight: bold;
    padding-left: 4px;
}

.fila {
    display: flex;
    width: 100%;
}

.fila .campo {
    text-indent: 5px;
    margin: 5px;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid lightslategray;
}

.fila .campo p {
    padding-left: 4px;
}

.fila .campo:nth-child(1){width: 30%}
.fila .campo:nth-child(2){width: 30%}
.fila .campo:nth-child(3){width: 30%}
.fila .campo:nth-child(4){width: 10%; border-bottom: none;}

.fila .nuevo {
    margin: 5px;
    height: 40px;
    border-bottom: 1px solid lightslategray;
}

.fila .nuevo:nth-child(1){width: 20%}
.fila .nuevo:nth-child(2){width: 20%}
.fila .nuevo:nth-child(3){width: 20%}
.fila .nuevo:nth-child(4){width: 20%; border-bottom: none;}
.fila .nuevo:nth-child(5){width: 20%; border-bottom: none;}

form.fila:first-child(1){
    margin-bottom: 40px;
}

.fila input {
    width: 100%;
    margin: 0;
    height: 40px;
    border-top: none;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightslategray;
}

.fila input:focus {
    outline: none;
    border-bottom: 2px solid darkmagenta;
}

.fila select {
    height: 40px;
}

.fila.editable .campo {
    margin: 5px;
    height: 40px;
    border-bottom: 1px solid lightslategray;
}

.fila.editable .campo:nth-child(1){width: 30%}
.fila.editable .campo:nth-child(2){width: 30%}
.fila.editable .campo:nth-child(3){width: 30%; border-bottom: none;}
.fila.editable .campo:nth-child(4){width: 10%; border-bottom: none;}

.fila.editable input {
    padding-bottom: 17px;
}

.fila.editable select {
    width: 100%;
}

.paginacion {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.paginacion button {
    margin: 10px;
}
