<div class="barra-fija">
    <div title="Proveedores" routerLink="/proveedores">
        <i class="fas fa-address-book"></i>
    </div>
    <div title="Facturas" routerLink="/listado-facturas">
      <i class="fas fa-money-bill-alt"></i>
  </div>
  </div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/compras">Compras</a></li>
      <li class="breadcrumb-item"><a routerLink="/listado-facturas">Facturas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Añadir factura</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Añadir nueva factura</span>
  <button class="btn btn-primary" routerLink="/listado-facturas">
    Volver
  </button>
</div>
<!-- <div class="row"> -->
    <div class="col-md-8 offset-md-2">
      <div class="formularios">
        <h4>Registrar factura de proveedor</h4>
        <form [formGroup]="facturaForm" (ngSubmit)="registrarFra()">
          <div class="row">
            <div class="col-md-6">
              <label for="proveedor">Proveedor</label>
              <span *ngIf="facturaForm.controls.proveedor.valid && facturaForm.controls.proveedor.dirty">
                <i class="far fa-check-circle verde"></i>
              </span>
              <span class="rojo" *ngIf="facturaForm.controls.proveedor.invalid && facturaForm.controls.proveedor.touched">
                <i class="far fa-times-circle"></i> Campo obligatorio
              </span>
              <input type="text" class="form-control" formControlName="proveedor" autofocus #proveedor>
            </div>
            <div class="col-md-6">
              <label for="cif">CIF</label>
              <span *ngIf="facturaForm.controls.cif.valid && facturaForm.controls.cif.dirty && cif">
                <i class="far fa-check-circle verde"></i>
              </span>
              <span class="rojo" *ngIf="facturaForm.controls.cif.invalid && facturaForm.controls.cif.touched && !facturaForm.value.cif">
                <i class="far fa-times-circle"></i> Campo obligatorio
              </span>
              <span class="rojo" *ngIf="facturaForm.controls.cif.invalid && facturaForm.value.cif && cif">
                <i class="far fa-times-circle"></i> El campo debe tener 9 caracteres
              </span>
              <span class="rojo" *ngIf="!cif && facturaForm.value.cif">
                  <i class="far fa-times-circle"></i> El CIF debe empezar por A o B
                </span>
              <input type="text" class="form-control" formControlName="cif" [(ngModel)]="facturaForm.value.cif" maxlength="9">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="fecha">Fecha factura</label>
              <input type="date" class="form-control" formControlName="fecha">
            </div>
            <div class="col-md-8">
              <label for="concepto">Concepto</label>
              <input type="text" class="form-control" formControlName="concepto">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="base">Base imponible</label>
              <span *ngIf="facturaForm.controls.base.valid && facturaForm.controls.base.dirty">
                <i class="far fa-check-circle verde"></i>
              </span>
              <span class="rojo" *ngIf="facturaForm.controls.base.invalid && facturaForm.controls.base.dirty && base">
                <i class="far fa-times-circle"></i> No se puede superar 100.000,00 €
              </span>
              <span class="rojo" *ngIf="facturaForm.controls.base.invalid && facturaForm.controls.base.touched && !base">
                <i class="far fa-times-circle"></i> Campo obligatorio
              </span>
              <input type="number" class="form-control" formControlName="base">
            </div>
            <div class="col-md-4 radiobotones">
              <div class="form-check">
                <input class="form-check-input" type="radio" [value]=true formControlName="retencion">
                <label class="form-check-label">
                  Con retención
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" [value]=false formControlName="retencion">
                <label class="form-check-label">
                  Sin retención
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <label for="tipo">% IVA</label>
              <select class="form-control" formControlName="tipo">
                <option value="0>0">0%</option>
                <option value="0.04">4%</option>
                <option value="0.1">10%</option>
                <option value="0.21">21%</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngIf="!retencion"></div>
            <div class="col-md-4" *ngIf="retencion">
              <label for="irpf">Retención IRPF</label>
              <input type="text" class="form-control" formControlName="irpf" [(ngModel)]="facturaForm.value.irpf" readonly>
            </div>
            <div class="col-md-4">
              <label for="importe">Importe IVA</label>
              <input type="text" class="form-control" formControlName="importe" [(ngModel)]="facturaForm.value.importe" readonly>
            </div>
            <div class="col-md-4">
              <label for="total">Total factura (IVA incluido)</label>
              <input type="text" class="form-control" formControlName="total" [(ngModel)]="facturaForm.value.total" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary" [disabled]="facturaForm.invalid || !cif">Registrar factura</button>
              <button routerLink="/listado-facturas" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </form>
        <p class="alert alert-warning" [@alerta]="estadoAlerta">{{mensaje}}</p>
      </div>
    </div>
  <!-- </div> -->